.body
{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
/* title section */
#title
{
  background-color: #B7657B;
  color: #fff;
  /* position: relative; */
  padding: 3% 15%;
}


.font-weight-bold
{
  font-size: 3.5rem;
  line-height: 1.3;
  padding-bottom: 1cm;
}
.nav-item
{
  padding: 0 1cm;
}
.navbar
{
  margin: 0px 0 4rem;
  position: absolute;
  right: 0.5cm;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
}
.download-button
{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);

}
@media (max-width: 1028px)
{
  #title
  {
    text-align: center;
  }
  .title-image
  {
    transform:rotate(0);
  }
}
/*Features section */
#features
{
  padding: 2cm 5cm 3cm 5cm;



}
.icon
{
  padding-left: 1.7cm;
  font-size: 1cm;
  padding-bottom: 10px;
  color: #7D5A50;
}
.icon:hover
{
  color: #B7657B;
}
.col-lg-4
{
  text-align: centre;
  font-family: 'Montserrat-Black-Bold', sans-serif;
}
.p
{
 width: 70%;
 color: #423F3E;
}

/* Testimonials section */
#testimonials{
  text-align: center;
  background-color: #E6739F;
  color: #fff;

}
.testimonial-text
{
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image
{
  width: 10%;
  border-radius: 100%;
  margin-top: 1cm;
  margin-right: 10px;
}
.carousel-item
{
  padding: 7% 15%;
}

/* Press section */
#press{
  background-color: #E6739F;
  text-align: center;
  font-family: 'Montserrat-bolder';
}
.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section  */
#pricing
{
  padding:100px;
  text-align: center;
}
.h2pricing
{
  font-weight: 900;
  font-size: 3rem;
}
.h3pricing
{
  font-weight: bold;
}
.pricingcolumn
{
  padding: 3% 2%;
}

/* cta section */
#cta {
  background-color: #FE9898;
  text-align: center;
  padding: 4%;

}
.h3cta
{
  font-family: 'Ubuntu-black';
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
}
/* footer section */
#footer
{
  text-align: center;
  padding: 4%;
}
.i
{
  padding: 1cm 20px;
}
